@model RRS.Models.ViewModels.DashboardViewModel
@using Newtonsoft.Json


@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";

    // Serialize data using JsonConvert for chart rendering
    var reservationsByDayJson = JsonConvert.SerializeObject(ViewBag.ReservationsByDay ?? new Dictionary<string, int>());
    var reservationStatusJson = JsonConvert.SerializeObject(ViewBag.ReservationStatus ?? new Dictionary<string, int>());
    var totalSalesJson = JsonConvert.SerializeObject(ViewBag.TotalSales ?? new List<int>());
}


<div class="text-left mb-2">
    <h1 class="fs-4">Dashboard</h1>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Upcoming Reservations -->
        <div class="col-lg-3 col-sm-6 mb-2">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- Icon Column -->
                        <div class="col-auto text-center">
                            <div class="icon-big text-info">
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                        </div>
                        <!-- Text and Number Column -->
                        <div class="col ">
                            <p class="mb-0 fw-bold text-secondary">Upcoming Reservations</p>
                            <h5 class="mb-0">@Model.counOfUpcomingReservation</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Available Tables -->
        <div class="col-lg-3 col-sm-6 mb-2">
            <div class="card border-0 shadow-sm h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- Icon Column -->
                        <div class="col-auto text-center">
                            <div class="icon-big text-success">
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                        </div>
                        <!-- Text and Number Column -->
                        <div class="col ">
                            <p class="mb-0 fw-bold text-secondary">Today's' Reservations</p>
                            <h5 class="mb-0">@Model.counOfTodaysReservation</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Finished Reservations -->
        <div class="col-lg-3 col-sm-6 mb-2">
            <div class="card border-0 shadow-sm h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- Icon Column -->
                        <div class="col-auto text-center">
                            <div class="icon-big text-success">
                                <i class="fa-solid fa-calendar-check"></i>
                            </div>
                        </div>
                        <!-- Text and Number Column -->
                        <div class="col ">
                            <p class="mb-0 fw-bold text-secondary">Completed Reservations</p>
                            <h5 class="mb-0">@Model.counOfCompletedReservation</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seated Guests -->
        <div class="col-lg-3 col-sm-6 mb-2">
            <div class="card border-0 shadow-sm h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- Icon Column -->
                        <div class="col-auto text-center">
                            <div class="icon-big text-info">
                                <i class="fa-solid fa-user-check"></i>
                            </div>
                        </div>
                        <!-- Text and Number Column -->
                        <div class="col ">
                            <p class="mb-0 fw-bold text-secondary">Ongoing Reservations</p>
                            <h5 class="mb-0">@Model.counOfOngoingReservation</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Total Tables -->
        <div class="col-lg-3 col-sm-6 mb-2">
            <div class="card border-0 shadow-sm h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- Icon Column -->
                        <div class="col-auto text-center">
                            <div class="icon-big text-info">
                                <i class="fa-solid fa-calendar-days"></i>
                            </div>
                        </div>
                        <!-- Text and Number Column -->
                        <div class="col ">
                            <p class="mb-0 fw-bold text-secondary">Cancelled Reservations</p>
                            <h5 class="mb-0">@Model.counOfCancelledReservation</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Todays Reservation -->
    <div class="row mt-2">
        <!-- DataTales Example -->
        <div class="card border-0 shadow-sm mb-5">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover text-center" id="reservationTable">
                        <thead>
                            <tr>
                                <th>Reservation Number</th>
                                <th>Customer</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Table Number</th>
                                <th>Buffet Type</th>
                                <th>Total Price</th>
                                <th>Special Request</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reservation in Model.reservationDetails)
                            {
                                <tr>
                                    <td>@reservation.ReservationNumber</td>
                                    <td>@reservation.CustomerFullName</td>
                                    <td>@reservation.ReservationDate.ToString("MMMM dd, yyyy")</td>
                                    @if (reservation.BuffetType.ToLower() == "breakfast")
                                    {
                                        <td>8:00 AM - 10:30 AM</td>
                                    }
                                    @if (reservation.BuffetType.ToLower() == "lunch")
                                    {
                                        <td>11:30 AM - 2:30 PM</td>
                                    }
                                    @if (reservation.BuffetType.ToLower() == "dinner")
                                    {
                                        <td>5:00 PM - 8:00 PM</td>
                                    }
                                    <td>@reservation.TableNumber</td>
                                    <td class="hidden-xs hidden-sm">@reservation.BuffetType</td>
                                    <td class="hidden-xs hidden-sm">₱@reservation.TotalPrice</td>
                                    <td class="hidden-xs hidden-sm">@reservation.SpecialRequest</td>
                                    <td>
                                        @switch (reservation.ReservationStatus.ToLower())
                                        {
                                            case "pending":
                                                <span class="text-warning">Pending</span>
                                                break;
                                            case "ongoing":
                                                <span class="text-info">Ongoing</span>
                                                break;
                                            case "cancelled":
                                                <span class="text-danger">Cancelled</span>
                                                break;
                                            case "completed":
                                                <span class="text-success">Completed</span>
                                                break;
                                            default:
                                                <span class="text-black">Unknown</span>
                                                break;
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<style>
    .icon-big {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .icon-big.text-info {
            background-color: rgba(0, 191, 255, 0.20);
            color: white;
        }

        .icon-big.text-success {
            background-color: rgba(34, 193, 34, 0.20);
            color: white;
        }
</style>

