@model IEnumerable<RRS.Models.ViewModels.ReservationDetailsViewModel>

@{
    ViewData["Title"] = "Staff-Reservations";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<div class="text-left mb-2 d-flex align-items-center justify-content-between">
    <div>
        <h1 class="fs-4">Upcoming Reservations</h1>
        <p class="text-secondary">List of all upcoming reservations.</p>
    </div>
</div>

<div class="container d-flex align-items-center justify-content-start gap-3 my-3">
    <a class="btn btn-outline-dark p-2" asp-action="Index" asp-controller="StaffReservation">All Reservations</a>
    <a class="btn btn-outline-dark p-2" asp-action="GetUpcomingReservations" asp-controller="StaffReservation">Upcoming Reservations</a>
    <a class="btn btn-outline-dark p-2" asp-action="GetTodaysReservations" asp-controller="StaffReservation">Today's Reservations</a>
    <a class="btn btn-outline-dark p-2" asp-action="GetOngoingReservations" asp-controller="StaffReservation">Ongoing Reservations</a>
    <a class="btn btn-outline-dark p-2" asp-action="GetCompletedReservations" asp-controller="StaffReservation">Completed Reservations</a>
    <a class="btn btn-outline-dark p-2" asp-action="GetCancelledReservations" asp-controller="StaffReservation">Cancelled Reservations</a>
</div>

<script>
    $(document).ready(function () {
        new DataTable('#reservationTable');
    });

    @if (TempData["SuccessMessage"] != null)
    {
        <text>
                Swal.fire({
                    title: 'Success!',
                text: '@TempData["SuccessMessage"]',
                icon: 'success',
                confirmButtonText: 'OK'
                                                 });
        </text>
    }

    @if (TempData["InformationMessage"] != null)
    {
        <text>
                Swal.fire({
                    title: 'Information!',
                text: '@TempData["InformationMessage"]',
                icon: 'info',
                confirmButtonText: 'OK'
                                                         });
        </text>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <text>
                Swal.fire({
                    title: 'Error!',
                text: '@TempData["ErrorMessage"]',
                icon: 'error',
                confirmButtonText: 'OK'
                                                });
        </text>
    }
</script>

<!-- DataTales Example -->
<div class="card border-0 shadow-sm mb-5">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover text-center" id="reservationTable">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Table Number</th>
                        <th>Buffet Type</th>
                        <th>Total Price</th>
                        <th>Special Request</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in Model)
                    {
                        <tr>
                            <td>@reservation.CustomerFullName</td>
                            <td>@reservation.ReservationDate.ToString("MMMM dd, yyyy")</td>
                            @if (reservation.BuffetType.ToLower() == "breakfast")
                            {
                                <td>8:00 AM - 10:30 AM</td>
                            }
                            @if (reservation.BuffetType.ToLower() == "lunch")
                            {
                                <td>11:30 AM - 2:30 PM</td>
                            }
                            @if (reservation.BuffetType.ToLower() == "dinner")
                            {
                                <td>5:00 PM - 8:00 PM</td>
                            }
                            <td>@reservation.TableNumber</td>
                            <td class="hidden-xs hidden-sm">@reservation.BuffetType</td>
                            <td class="hidden-xs hidden-sm">₱@reservation.TotalPrice</td>
                            <td class="hidden-xs hidden-sm">@reservation.SpecialRequest</td>
                            <td>
                                @switch (reservation.ReservationStatus.ToLower())
                                {
                                    case "pending":
                                        <span class="text-warning">Pending</span>
                                        break;
                                    case "ongoing":
                                        <span class="text-info">Ongoing</span>
                                        break;
                                    case "cancelled":
                                        <span class="text-danger">Cancelled</span>
                                        break;
                                    case "completed":
                                        <span class="text-success">Completed</span>
                                        break;
                                    default:
                                        <span class="text-black">Unknown</span>
                                        break;
                                }
                            </td>
                            <td class="d-flex justify-content-center gap-2">
                                <button type="button" class="btn btn-info btn-sm rounded px-3 py-1" data-bs-toggle="modal" data-bs-target="#staffViewDetails-@reservation.Id" data-url="@Url.Action($"ViewReservationDetailsStaff/{reservation.Id}")">
                                    View
                                </button>
                                @await Html.PartialAsync("ReservationDetails", reservation)

                                <!--Button to start the reservation -->
                                @if (reservation.ReservationStatus.ToLower() == "pending")
                                {
                                    <form method="post" asp-action="StartReservation" asp-controller="StaffReservation">
                                        <input type="hidden" name="reservationId" value="@reservation.Id" />
                                        <button type="submit" class="btn btn-warning btn-sm rounded px-3 py-1">
                                            Start
                                        </button>
                                    </form>
                                }

                                <!-- Button to complete the reservation -->
                                @if (reservation.ReservationStatus.ToLower() == "ongoing")
                                {
                                    <form method="post" asp-action="CompleteReservation" asp-controller="StaffReservation">
                                        <input type="hidden" name="reservationId" value="@reservation.Id" />
                                        <button type="submit" class="btn btn-success btn-sm rounded px-3 py-1">
                                            Complete
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Scroll to Top Button -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
